@import 'base';

body {
  font-size: 62.5%;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  background-color: $color-bg;
}

.container {
  width: 100%;
}

.cinema {
  width: 1250px;
  display: block;
  margin: 0px auto;
}

/*.groupInTag{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
   transition: transform 6s;
}*/
